<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Personnages</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      showCancelButton="focus"
      cancelButtonIcon="fish"
      cancelButtonText="nope"
      color="medium"
      type="text"
      placeholder="Exemple : Annakin, R2D2, ..."
      enterkeyhint="search"
      (ionChange)="filterArray()"
      [(ngModel)]="search"
      debounce="2000"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container>
    <ion-list >
      <ion-list-header>Personnages</ion-list-header>


      <ion-item *ngFor="let perso of displayed">
        <ion-label>
          <h3>{{perso.name}}</h3>
          <p>Né le {{perso.birth_year}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>


</ion-content>
