<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buttons</ion-title>
    <ion-buttons slot="end">
      <ion-button>Don't clic</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button>Start</ion-button>
      <ion-button>Start BIS</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>END</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="big ion-padding">

    <ion-button expand="block" class="ion-margin-bottom">
      <ion-icon slot="start" name="star"></ion-icon>
      Block button
    </ion-button>

    <ion-button expand="full" class="ion-margin-bottom">
      Full button
      <ion-icon slot="end" name="fish-outline"></ion-icon>
    </ion-button>


    <ion-button expand="full" class="ion-margin-bottom">
      <ion-icon slot="icon-only" name="fish-outline"></ion-icon>
    </ion-button>


    <ion-button expand="full" fill="solid" class="ion-margin-bottom">
      Solid button
    </ion-button>

    <ion-button expand="block" fill="outline" class="ion-margin-bottom">
      Outline button
    </ion-button>

    <ion-button expand="block" fill="clear" class="ion-margin-bottom">
      Clear button
    </ion-button>

    <div>
      <ion-button color="success">Youhouh !</ion-button>
      <ion-button color="warning">Attention</ion-button>
      <ion-button color="danger">Oh no !</ion-button>
      <!-- light, medium, dark... -->
    </div>

    <div>
      <ion-button size="large" color="medium">Large</ion-button>
      <ion-button color="light">Default</ion-button>
      <ion-button size="small" color="dark">Small</ion-button>
    </div>

    <ion-button shape="round">
      <ion-icon name="star"></ion-icon>
    </ion-button>




  </div>

</ion-content>
