<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>{{view | titlecase}}</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="view" (ionChange)="reset()">
      <ion-segment-button value="login">Login</ion-segment-button>
      <ion-segment-button value="register">Register</ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="userForm" (ngSubmit)="handleSubmit()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <ion-note *ngIf="userForm.controls['email'].touched" color="danger">
      <span *ngIf="userForm.controls['email'].hasError('required')">Veuillez entrer un email</span>
      <span *ngIf="userForm.controls['email'].hasError('pattern') && view === 'register'">Cet email n'est pas valide</span>
    </ion-note>
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>
    <ion-note color="medium" *ngIf="view === 'register'">Minimum 3 caractères</ion-note>
    <ion-note *ngIf="userForm.controls['password'].dirty && userForm.controls['password'].invalid" color="danger">
      <span *ngIf="userForm.controls['password'].hasError('required')">Veuillez entrer un mot de passe</span>
      <span *ngIf="userForm.controls['password'].hasError('minlength') && view === 'register'">Ce mot de passe est trop court</span>
    </ion-note>
    <p>
      <ion-button type="submit" *ngIf="view === 'login'">Login</ion-button>
      <ion-button type="submit" *ngIf="view === 'register'" [disabled]="userForm.invalid">Register</ion-button>
    </p>
  </form>

  <div>
    <ion-button *ngIf="useBio" expand="block" fill="outline" (click)="bioLogin()" color="secondary">
      <ion-icon slot="start" name="finger-print-outline"></ion-icon>
      Sign in with fingerprints
    </ion-button>
  </div>

</ion-content>
