<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="buttons">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Boutons</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="content">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label>Content</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="grid">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Grid</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="swipe">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>Swipe</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="messages">
      <ion-icon name="mail-open-outline"></ion-icon>
      <ion-label>Toast</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
