<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Swipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <swiper [config]="config">
    <ng-template swiperSlide>
      <div class="card">
        Coucou 1
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        Coucou 2
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="card">
        Coucou 3
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card">
        Coucou 4
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="card">
        Coucou 5
      </div>
    </ng-template>
  </swiper>

</ion-content>
