<ion-header>
  <ion-toolbar>
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeLg="2" size-md="3" size-sm="4" size-xs="6"  *ngFor="let i of [].constructor(20)">
        <ion-card class="ion-padding">
          <ion-icon name="fish"></ion-icon>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button color="warning">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="logo-angular"></ion-icon>
        </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-apple"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="logo-android"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab slot="fixed" horizontal="end" vertical="center">
    <ion-fab-button>
      <ion-icon name="rocket"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark">
        <ion-icon name="sunny"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="bottom">
      <ion-fab-button color="dark">
        <ion-icon name="snow"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button color="dark">
        <ion-icon name="beer"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
